* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'IBM Plex Sans';
}

:root {
  --linear: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
}
nav {
  background-color: #201428;
  position: sticky;
}

.container-main {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-sign-in a {
  text-decoration: none;
}

.chat-sign-in p {
  display: inline;
}

.ai-chat {
  padding-right: 30px;
}

.sign-in-button,
.start-button,
.get-chatting-now {
  background: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 35px;
  transition: all .5s ease-in .2s;
}

.ai-chat:hover {
  color: #f54f4b;
}

.sign-in-button:hover,
.start-button:hover,
.get-chatting-now:hover {
  background: linear-gradient(107.26deg,#a15cc8 11.81%,#f54f4b 123.85%);
  align-items: flex-start;
}

/* Nav bar */
.container-nav ul {
  padding: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.container-nav a {
  text-decoration: none;
}

.container-nav a:hover {
  color: #f54f4b;
}

/*section img {
  width: 100%;
}*/

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(79, 79, 79);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 18, 18);  
}

/*.banner-container {
  background-image: url(/images/landing-page/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}*/


#main {
  background-image: url(/images/landing-page/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 35.7rem;
  display: flex;
  justify-content: center;
}

.banner-bg {
  display: flex;
  justify-content: center;
}


.heading {
  font-size: 3.75rem;
  font-weight: 520;
  padding-top: 10rem;
  padding-bottom: 1rem;
}

.heading span {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text {
  text-align: center;
  opacity: 0.6;
  font-size: 1.2rem;
  max-width: 70%;
  line-height: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}


.banner-buttons {
  max-width: 40%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
}

.banner-buttons a {
  text-decoration: none;
}


/*
.start-button {
  background: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 10px 20px;
  font-weight: 600;
  transition: all .5s ease-in .2s;
}*/

.try-button {
  background: linear-gradient(rgb(18, 18, 18), rgb(18, 18, 18)) padding-box,
  linear-gradient(to right, #fe4d3c, #7f60f9) border-box;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 8px 28px;
}

.try-button:hover {
  background: black;
  background: linear-gradient(#fe4d3c,  #7f60f9) padding-box,
  linear-gradient(to right, #fe4d3c, #7f60f9) border-box;
  padding: 8px 28px;
  transition: all .5s ease-in .2s;
}

/* Features */

#features,
#community {
  background-color: rgb(13, 13, 13);
}

.container-features {
  padding: 80px 20px;
}

.feature-preview {
  text-align: center;
}

.f-heading {
  color: #fb5647;
  padding-bottom: 24px;
}

.f-desc {
  font-size: 2.2rem;
  font-weight: 550;
}

.f-desc span {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.f-gen {
  padding: 24px 0 0 0;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
}

/* grids */

.grids {
  display: grid;
  padding: 56px 44px 0 44px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.grids a {
  text-decoration: none;
  display: flex;
}

.h-child {
  font-weight: 500;
}

.p-child {
  opacity: .7;
  flex-wrap: wrap;
}

.content {
  margin-left: 15px;
}

.icon {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-right: 3px;
  padding-left: 3px;
  text-align: center;
  border-radius: 4px;
}

/* chat */

#chat {
  background-color: black;
  background-image: url(/images/landing-page/linear-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.container-chat {
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.heading-1,
.heading-2 {
  font-size: 2.2rem;
  padding-bottom: 24px;
}

.heading-2 {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.chatting-now a {
  text-decoration: none;
}

/* community */

.container-community {
  padding: 80px 20px;
}

.community-heading {
  font-size: 2.2rem;
  padding-bottom: 24px;
  text-align: center;
}

.community-p {
  font-size: 1.2rem;
  opacity: .8;
  text-align: center;
}

.sub a {
  text-decoration: none;
  opacity: .7;
}

.sub a:hover {
  text-decoration: underline;
}

.grid-h {
  padding-bottom: 16px;
}

.grid-child h3 {
  font-size: 1.4rem;
  padding: 8px 0;
}

.grid-child p {
  opacity: .7;
  padding-bottom: 20px;
}

.lang span {
  font-weight: bold;
}

.grid-child {
  background-color: #1E1E1E;
  border-radius: 6px;
  padding: 24px;
}

.community-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 4rem;
  padding-top: 48px;
}

#footer {
  background-color: black;
}

.container-footer {
  padding: 0 20px;
  background-color: black;
}

.social-media-icons a,
.loc-add a,
.mail-link a {
  text-decoration: none;
}

.mail-link p:hover {
  color: #fe4d3c;
}