* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'IBM Plex Sans';
}

body {
  background-color: black;
}

:root {
  --linear: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
}

.nav-container {
  background-color: #201428;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-sign-in a {
  text-decoration: none;
}

.sign-in-button {
  margin-left: 30px;
}

.sign-in-button:hover {
  transform: translateY(-10);
}

/*.sign-in-button,
.start-button,
.get-chatting-now {
  background: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 35px;
  transition: all .5s ease-in .2s;
}*/

.ai-chat:hover {
  color: #f54f4b;
}

/*.sign-in-button:hover,
.start-button:hover,
.get-chatting-now:hover {
  background: linear-gradient(107.26deg,#a15cc8 11.81%,#f54f4b 123.85%);
  align-items: flex-start;
}*/

/* Nav bar */
.container-nav ul {
  padding: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.container-nav a {
  text-decoration: none;
}

.container-nav a:hover {
  color: #f54f4b;
}

/*section img {
  width: 100%;
}*/

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(79, 79, 79);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 18, 18);  
}

/*.banner-container {
  background-image: url(/images/landing-page/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}*/


#main {
  margin-top: 8rem;
}

.banner-bg {
  background-image: url(./images/landing-page/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 62vh;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}


.heading {
  font-size: 3.75rem;
  font-weight: 520;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.heading span {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text {
  text-align: center;
  opacity: 0.8;
  font-size: 1.25rem;
  max-width: 70%;
  line-height: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}


.banner-buttons {
  max-width: 40%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
}

.banner-buttons a {
  text-decoration: none;
}


/*
.start-button {
  background: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 10px 20px;
  font-weight: 600;
  transition: all .5s ease-in .2s;
}*/

/*.try-button {
  background: linear-gradient(rgb(18, 18, 18), rgb(18, 18, 18)) padding-box,
  linear-gradient(to right, #fe4d3c, #7f60f9) border-box;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 8px 28px;
}

.try-button:hover {
  background: black;
  background: linear-gradient(#fe4d3c,  #7f60f9) padding-box,
  linear-gradient(to right, #fe4d3c, #7f60f9) border-box;
  padding: 8px 28px;
  transition: all .5s ease-in .2s;
}*/

/* Features */

#features,
#community {
  background-color: rgb(13, 13, 13);
}

.container-features {
  padding: 80px 20px;
}

.feature-preview {
  text-align: center;
}

.f-heading {
  color: #fb5647;
  padding-bottom: 24px;
}

.f-desc {
  font-size: 2.2rem;
  font-weight: 550;
}

.f-desc span {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.f-gen {
  padding: 24px 0 0 0;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
}

/* grids */

.grids {
  display: grid;
  padding: 56px 44px 0 44px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  max-width: 68%;
  margin-left: auto;
  margin-right: auto;
}

.grids a {
  text-decoration: none;
  display: grid;
  grid-template-columns: .05fr 1fr;
  align-items: flex-start;
  column-gap: 1rem;
  justify-content: center;
  max-width: 85%;
}

.h-child {
  font-weight: 500;
}

.p-child {
  opacity: .7;
  flex-wrap: wrap;
  
}

.icon {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  width: 20px;
  height: 20px;
  border-radius: 0.375rem;
  padding: 0.5rem;
  text-align: center;
}

/* chat */

#chat {
  background-color: black;
  background-image: url(./images/landing-page/linear-bg.png);
  background-repeat: no-repeat;
  background-position: right 20% bottom -50%;
  background-size: 50%;
}

.container-chat {
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-1,
.heading-2 {
  font-size: 2.2rem;
  padding-bottom: 24px;
}

.heading-2 {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.chatting-now a {
  text-decoration: none;
}

/* community */

.container-community {
  padding: 80px 20px;
}

.community-heading {
  font-size: 2.2rem;
  padding-bottom: 24px;
  text-align: center;
}

.community-p {
  font-size: 1.2rem;
  opacity: .8;
  text-align: center;
}

.sub a {
  text-decoration: none;
  opacity: .7;
}

.sub a:hover {
  text-decoration: underline;
}

.grid-h {
  padding-bottom: 16px;
}

.grid-child h3 {
  font-size: 1.4rem;
  padding: 8px 0;
}

.grid-child p {
  opacity: .7;
  padding-bottom: 20px;
}

.lang span {
  font-weight: bold;
}

.grid-child {
  background-color: #1E1E1E;
  border-radius: 6px;
  padding: 24px;
}

.community-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 4rem;
  padding-top: 48px;
}

#footer {
  background-color: black;
}

.container-footer {
  padding: 0 20px;
  background-color: black;
}

.social-media-icons a,
.loc-add a,
.mail-link a,
.company-child a,
.prod-child a {
  text-decoration: none;
}

.mail-link a:hover,
.company-child a:hover,
.prod-child a:hover {
  color: #fe4d3c;
}

.prod-ul-child,
.company-ul-child {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-products,
.container-Company-grid {
  margin-left: 8px;
}

.container-products p,
.container-Company-grid p {
  padding: 20px 0 32px 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.prod-child,
.company-child {
  padding-bottom: 24px;
}

/* social media section */
#footer {
  background-color: black;
}

.footer {
  padding: 40px 0 40px 0;
  display: grid;
  grid-template-columns: 2fr 1.1fr;
  column-gap: 50px;
}

.footer1-cont {
  background-color: black;
  padding: 0 20px 0 20px;
}

.logo-social-media-icons {
  padding-top: 16px;
  display: grid;
  row-gap: 25px;
}

.company-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-Company-grid {
  border-right: 1px solid white;
}

.social-media-icons a {
  padding-right: 15px;
}

.company {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.location,
.mail-ineuron {
  display: grid;
  grid-template-columns: .05fr 1fr;
  column-gap: 25px;
  align-items: center;
}

.iso-ineuron img {
  width: 80px;
  height: 110px;
}

.iso-ineuron {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.iso-ineuron img {
  padding-left: 20px;
}

.iso-ineuron p {
  padding-left: 25px;
}
/* add on's */

button {
  border: none;
  background: none;
}

.container-main {
  padding: 20px 110px;
}

.container-nav {
  padding-left: 90px;
  padding-right: 90px;
}

.container-chat {
  padding: 80px 130px;
}

.container-community {
  padding-left: 110px;
  padding-right: 110px;
}

.footer1-cont {
  padding-left: 110px;
  padding-right: auto;
}

/* sign in */

.sign-in-button
{
  background: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 35px;
  transition: transform .5s ease-in .2s;
}

.start-button,
.get-chatting-now {
  background: linear-gradient(107.26deg,#f54f4b 11.81%,#a15cc8 123.85%);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 35px;
  transition: transform .5s ease-in .2s;
}

.try-button {
  border-left: 2px solid #f54f4b;
  border-right: 2px solid #a15cc8;
  background-image: linear-gradient(90deg, #f54f4b, #a15cc8), linear-gradient(90deg, #f54f4b, #a15cc8);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 30px;
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.try-button:hover {
  background: linear-gradient(rgb(18, 18, 18), rgb(18, 18, 18)) padding-box,
  linear-gradient(to right, #fe4d3c, #7f60f9) border-box;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 8px 30px;
  align-items: flex-start;
  animation: bottom-to-top .3s ease-out forwards;
}

.sign-in-button:hover,
.start-button:hover,
.get-chatting-now:hover {
  background: linear-gradient(107.26deg,#a15cc8 11.81%,#f54f4b 123.85%);
  align-items: flex-start;
  animation: bottom-to-top .3s ease-out forwards;
}

@keyframes bottom-to-top {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateY(-10%);
  }
}


/* typewriting text animation */

/*.f-desc {
  font-size: 2.2rem;
  font-weight: 550;
}

.f-desc span {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}*/

/*
.wrapper {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  
}

.wrapper .static-txt {
  color: white;
  font-size: 2.2rem;
  font-weight: 550;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 60px;
  line-height: 60px; 
  overflow: hidden;
}
 
.dynamic-txts li {
  list-style: none;
  font-size: 2.2rem;
  font-weight: 550;
  color: red;
  animation: slide 12s steps(6) infinite;
  position: relative;
  top: 0;
  text-align: left;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
}

.dynamic-txts li::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-left: 5px solid #a03b64;
  animation: typing 2s steps(32) infinite;
  background-color: rgb(13, 13, 13);
}

@keyframes typing {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #a03b64; }
}*/

.container-auto-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-preview h1 {
  font-size: 2.2rem;
  font-weight: 550;
}

.auto-type,
.typed-cursor {
  background: linear-gradient(95.87deg,#fe4d3c -.78%,#7f60f9 111.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
